.heroku/
.profile.d/
vendor/
.composer/
.builders_run
.bash_history
Procfile
.release
.env
*.log
*.swp
*.back
*.bak
*.sql
*.sql.gz
~*
.maintenance
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/backups/
wp-content/uploads/
secret/
